{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Comment list'|trans }}
{% endblock %}

{% block body %}
<div class="comment_container container">


    {% if is_granted('ROLE_USER') %}
    <div class="col text-center">
        <h1>{{ 'Comment list'|trans }}</h1>

    </div>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>

                <th>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'comment.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Text'|trans, 'comment.text') }}</th>
                <th>{{ 'comment_author'|trans }}</th>
                <th>{{ 'Post name'|trans }}</th>
                <th>{{ 'Comment_view'|trans }}</th>


            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>

                    <td>{{ comment.date|format_date('long') }}</td>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.author.email}}</td>

                    <td>
                        <a href="{{ url('post_show', {id: comment.post.id}) }}" title="{{ 'view post'|trans }}">
                            {{ comment.post.name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('comment_show', {id: comment.id}) }}" > <i class="fa fa-eye"></i>
                        </a>
                    </td>



                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'Empty list'|trans }}
        </p>
    {% endif %}
</div>
{% endblock %}
