{% extends 'base.html.twig' %}

{% block title %}{{'Log in!'|trans }}{% endblock %}

{% block body %}
<div class="login_container container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           {{'You are logged in as, {{ app.user.username }}'|trans }}  <a href="{{ path('app_logout') }}">Logout|trans</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'Please sign in'|trans }}</h1>
    <div class="form-group">
    <label for="inputEmail">{{ 'Email' |trans }}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>
    <div class="form-group">
        <label for="inputPassword">{{ 'Password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    </div>

    <button class="btn btn-lg btn-outline-secondary text-uppercase" type="submit">
        {{ 'Sign in'|trans }}
    </button>
</form>
    <a class="register btn btn-lg btn-outline-secondary text-uppercase mt-3" href="{{ url('app_register') }}">{{'register_label'|trans}}</a>

</div>
{% endblock %}
