{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Category details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="category_container container">

    <h1>{{ 'Category details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'ID'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'Name'|trans }}</dt>
            <dd>{{ category.name }}</dd>

        </dl>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'Back to list'|trans }}">
                {{ 'Back to list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'Item not found'|trans }}
        </p>
    {% endif %}
    </div>
{% endblock %}