{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Post details'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="post_container container col text-center">
    <h1>{{ 'Post details'|trans({'%id%': post.id|default('')}) }}</h1>

    {% if post is defined and post|length %}
        <dl class="dl-horizontal">

            <dt>{{ 'Date'|trans }}</dt>
            <dd>{{ post.date|format_date('short') }}</dd>
            <dt>{{ 'Category'|trans }}</dt>
            <dd> <a href="{{ url('post_index', {'filters' : {'category' : post.category.id}}) }}" title="{{ post.category.name }}">
                    {{ post.category.name }}
                </a></dd>
            <dt>{{ 'tags'|trans }}</dt>
            <dd>{% if post.tag is defined and post.tag|length %}
                    {% for tag in post.tag %}
                        <a href="{{ url('post_index', {'filters' : {'tag' : tag.id}}) }}" title="{{ tag.name }}">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% else %}
                    &nbsp;
                {% endif %}</dd>
            <dt>{{ 'Name'|trans }}</dt>
            <dd>{{ post.name }}</dd>
            <dt>{{ 'Text'|trans }}</dt>
            <dd>{{  post.text }}</dd>
            <dt>{{ 'Post_author'|trans }}</dt>
            <dd>{{  post.author.email }}</dd>

    <p>
        <a href="{{ url('post_index') }}" title="{{ 'Back to list'|trans }}">
            {{ 'Back to list'|trans }}
        </a>
    </p>
    <a class="btn btn-lg btn-primary mt-3 btn-dark" href="{{ url('comment_create', {id: post.id}) }}" title="{{ 'create_comment'|trans }}">
        {{ 'create_comment'|trans }}
    </a>

            {% else %}
                <p>
                    {{ 'Item not found'|trans }}
                </p>
            {% endif %}

    {% if post.comments|length > 0 %}
    <dt>{{ 'Post_comments'|trans }}</dt>
        {% for comment in post.comments %}
        <dt>{{ 'comment_author:'|trans }}</dt>
        <dd>{{  comment.author.email }}</dd>
            <dt>{{'comment_text:'|trans }}</dt>
            <dd>{{ comment.text }}</dd>
        {% if is_granted('EDIT', comment) %}
            <a href="{{ url('comment_edit', {id: comment.id}) }}">
                <i class="fa fa-pencil-square-o"></i>
            </a>
        {% endif %}
        {% if is_granted('DELETE', comment) %}
            <a href="{{ url('comment_delete', {id: comment.id}) }}">
                <i class="fa fa-trash-o"></i>
            </a>
        {% endif %}

    {% endfor %}
    {% endif %}
        </dl>



    <div class="post_container container">

{% endblock %}