{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Post details'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="post_container container">
    <h1>{{ 'Post details'|trans({'%id%': post.id|default('')}) }}</h1>
    {% if post is defined and post|length %}
        <dl class="dl-horizontal">

            <dt>{{ 'Date'|trans }}</dt>
            <dd>{{ post.date|date('Y/m/d') }}</dd>
            <dt>{{ 'Category'|trans }}</dt>
            <dd>{{  post.category.name }}</dd>
            <dt>{{ 'Name'|trans }}</dt>
            <dd>{{ post.name }}</dd>
            <dt>{{ 'Text'|trans }}</dt>
            <dd>{{  post.text }}</dd>
            <dt>{{ 'Post_author'|trans }}</dt>
            <dd>{{  post.author.email }}</dd>
        </dl>
        <p>
            <a href="{{ url('post_index') }}" title="{{ 'Back to list'|trans }}">
                {{ 'Back to list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'Item not found'|trans }}
        </p>
    {% endif %}
    <div class="post_container container">

{% endblock %}