{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Tag list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Tag list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'tag.name') }}</th>
                <th>{{ 'Actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>
                        <a href="{{ url('tag_show', {id: tag.id}) }}" > <i class="fa fa-eye"></i>

                        </a>
                    </td>
                    <td>
                        <a href="{{ url('tag_create', {id: tag.id}) }}" > <i class="fa fa-plus"></i>
                        </a>
                    </td>
                    <td>
                        {% if not tag.posts|length %}
                            <a href="{{ url('tag_delete', {id: tag.id}) }}" > <i class="fa fa-trash-o" > </i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('tag_edit', {id: tag.id}) }}" > <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'Empty list'|trans }}
        </p>
    {% endif %}
{% endblock %}


