{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Tag list'|trans }}
{% endblock %}

{% block body %}
<div class="tag_container container ">


    {% if is_granted('ROLE_ADMIN') %}
        <div class="col text-center">
            <h1>{{ 'Tag list'|trans }}</h1>
            <a class="btn btn-lg btn-primary mt-3 btn-dark" href="{{ url('tag_create') }}"> <i class="fa fa-plus" ></i>
            </a>
        </div>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'tag.name') }}</th>
                <th>{{ 'Actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>
                        <a href="{{ url('tag_show', {id: tag.id}) }}" > <i class="fa fa-eye"></i>

                        </a>
                    </td>
                    {% if is_granted('DELETE', tag) %}
                    <td>
                        {% if not tag.posts|length %}
                            <a href="{{ url('tag_delete', {id: tag.id}) }}" > <i class="fa fa-trash-o" > </i>
                            </a>
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if is_granted('EDIT', tag) %}
                    <td>
                        <a href="{{ url('tag_edit', {id: tag.id}) }}" > <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'Empty list'|trans }}
        </p>
    {% endif %}
</div>
{% endblock %}


