{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/posts.css') }}">
{% endblock %}

    {% block title %}
        {{ 'homepage_title'|trans }}
    {% endblock %}

    {% block body %}
        {{ parent() }}

        <section>
            <div class="container text-center pt-3 pb-1">
                {% include 'default/_flash_messages.html.twig' %}
                <div class="my-4">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ url('post_create') }}" class="btn btn-light text-center m-auto mb-5">
                            {{ 'new_post_header'|trans }}
                        </a>
                    {% endif %}
                    <a href="{{ url('post_search') }}" class="btn btn-light text-center m-auto mb-5">
                        {{ 'posts_search'|trans }}
                    </a>
                </div>
                {% if app.request.query.all.post is defined %}
                    <div class="alert alert-primary" role="alert">
                        {{ 'search_results'|trans }}:
                    </div>
                {% endif %}
            </div>
        </section>

        {% if pagination is defined %}
            {% if pagination.items|length %}
                <div class="pagination justify-content-center" aria-label="Page navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

                <main>
                    <div class="container">
                        {% for post in pagination.items %}
                            <article>
                                <div class="search-item m-4">
                                    <a href="{{ url('post_show', {id: post.id}) }}">
                                        <h3 class="pr-4">{{ post.title }}</h3>
                                    </a>
                                    <div class="mb-15">
                                        <ul class="list-inline">
                                            <li class="time">{{ post.creationDate |format_date('short') }}</li>
                                            <li>{{ 'common_category'|trans }}: {{ post.category.name }}</li>
                                            {% if post.tags|length %}
                                                <li>{{ 'common_tags'|trans }}:</li>
                                                <li>
                                                    {% for tag in post.tags %}
                                                        <span>{{ tag.name }}</span>
                                                    {% endfor %}
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div>
                                        {{ post.content|markdown_to_html }}
                                    </div>
                                    {% if post.getImage() %}
                                        <div class="imageDiv">
                                            <img class="img" alt="post image"
                                                 src="{{ asset('uploads/images/'~ post.getImage().getFilename()) }}">
                                        </div>
                                    {% endif %}
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </main>
                <div class="pagination justify-content-center" aria-label="Page navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            {% else %}
                <section>
                    <div class="container text-center pt-3 pb-1">
                        {% include 'default/_single_flash_message.html.twig' with {
                            type: 'warning',
                            message: 'message_empty'|trans
                        } %}
                    </div>
                </section>
            {% endif %}
        {% else %}
            <section>
                <div class="container text-center pt-3 pb-1">
                    {% include 'default/_single_flash_message.html.twig' with {
                        type: 'danger',
                        message: 'message_connection_fail'|trans
                    } %}
                </div>
            </section>
        {% endif %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/posts.js') }}"></script>
    {% endblock %}